aiogram>=3.4
aiogram-dialog>=2.2
SQLAlchemy>=2.0
aiosqlite>=0.19
aiosmtplib>=3.0
python-dotenv>=1.0
pydantic>=2.7
aiogram-media-group>=0.4
openpyxl>=3.1
tzdata>=2025.2
faker>=38.2.0
apscheduler>=3.10.4
matplotlib>=3.8
psutil>=5.9.0
asyncpg>=0.29.0